* {
  margin: 0;
  text-decoration: none;
  border: none;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5 {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

p {
  font-family: "Roboto", sans-serif;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
          animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.fade-in.one {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.fade-in.two {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.fade-in.three {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.fade-in.four {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.fade-in.five {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.ui #portfolio {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
          animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
  -webkit-animation-duration: .7s;
          animation-duration: .7s;
}

.ui #cv {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
          animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
  -webkit-animation-duration: .7s;
          animation-duration: .7s;
}

.ui #contact {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
          animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
  -webkit-animation-duration: .7s;
          animation-duration: .7s;
  -webkit-transition: .8s ease-in-out;
  transition: .8s ease-in-out;
  -webkit-transform-origin: center;
          transform-origin: center;
}

#portfolio:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: .8s ease-in-out;
  transition: .8s ease-in-out;
  -webkit-transform-origin: right;
          transform-origin: right;
  cursor: pointer;
  opacity: .85;
}

#cv:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: .8s ease-in-out;
  transition: .8s ease-in-out;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  cursor: pointer;
  opacity: .85;
}

#contact:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: .8s ease-in-out;
  transition: .8s ease-in-out;
  -webkit-transform-origin: left;
          transform-origin: left;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 10px 5px black);
          filter: drop-shadow(0px 10px 5px black);
  opacity: .85;
}

#contact polygon:first-of-type {
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

#contact:hover polygon:first-of-type {
  fill: #b38539 !important;
}

#cv polygon:first-of-type {
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

#cv:hover polygon:first-of-type {
  fill: #44678c !important;
}

#portfolio g > polygon {
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

#portfolio g:hover > polygon {
  fill: #9a3156 !important;
}

.section-head1 {
  position: relative;
  z-index: 1;
  margin-top: 50vh;
  -webkit-clip-path: polygon(63.4% 0%, 100% 45.4%, 50% 100%, 0% 65%, 13% 0%);
          clip-path: polygon(63.4% 0%, 100% 45.4%, 50% 100%, 0% 65%, 13% 0%);
}

.section-head1 h3 {
  color: #fd7c3e;
  font-family: 'Raleway', sans-serif;
  font-size: 8em;
  font-weight: 900;
  line-height: .64em;
  padding-top: .06em;
  width: 50.35%;
  border-bottom: solid .04em;
  -webkit-transform: translate(25.8%, 0);
          transform: translate(25.8%, 0);
  position: relative;
  z-index: 1;
}

.section-head2 {
  position: relative;
  z-index: 1;
  margin-top: 0em;
  -webkit-transform: translate(-25%, -15%);
          transform: translate(-25%, -15%);
  -webkit-clip-path: polygon(100% 50%, 88.6% 81.4%, 0% 98.2%, 0% 13%, 21% 0%);
          clip-path: polygon(100% 50%, 88.6% 81.4%, 0% 98.2%, 0% 13%, 21% 0%);
}

.section-head2 h3 {
  color: #70c7c2;
  font-family: 'Raleway', sans-serif;
  font-size: 8em;
  font-weight: 900;
  line-height: .64em;
  padding-top: .06em;
  padding-left: 0%;
  width: 80%;
  border-bottom: solid .04em;
  -webkit-transform: rotate(23.1deg) translate(29.7%, 136%);
          transform: rotate(23.1deg) translate(29.7%, 136%);
  position: relative;
  z-index: 1;
}

.section-head3 {
  position: relative;
  z-index: 1;
  -webkit-transform: translate(90%, -138%);
          transform: translate(90%, -138%);
  width: 65%;
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 100% 99.2%, -90% 44%, 55% -25%);
          clip-path: polygon(100% 0%, 100% 100%, 100% 99.2%, -90% 44%, 55% -25%);
}

.section-head3 h3 {
  color: #443939;
  font-family: 'Raleway', sans-serif;
  font-size: 8em;
  font-weight: 900;
  line-height: .64em;
  padding-top: .06em;
  width: 83%;
  -webkit-transform: rotate(-29.4deg) translate(-20%, 180%);
          transform: rotate(-29.4deg) translate(-20%, 180%);
  margin-left: 0%;
  border-bottom: solid .04em;
  position: relative;
  z-index: 1;
}

.w1-svg:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .7s ease-in-out;
  transition: .7s ease-in-out;
}

.wrap {
  background: #fbf9ed;
}

.body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.headerSection {
  height: 100vh;
}

.s1 {
  height: 50vh;
}

.s2 {
  background-color: #fbf9ed;
}

.platform1 {
  -webkit-transform: perspective(45vw) rotateX(0deg) rotateY(25deg) rotateZ(0deg) translate(8vw, 0) scale(0.9);
          transform: perspective(45vw) rotateX(0deg) rotateY(25deg) rotateZ(0deg) translate(8vw, 0) scale(0.9);
  height: 40vh;
  -webkit-transition: ease all 1.5s;
  transition: ease all 1.5s;
  width: 82%;
}

.platform1 .webWork {
  -webkit-box-shadow: 1px -5em 50em -16px black inset;
          box-shadow: 1px -5em 50em -16px black inset;
  background-color: #fff;
  overflow-y: scroll;
  height: 40vh;
  border: solid thin #cdcdcd;
  cursor: pointer;
  background-image: url("assets/mj-site.jpg");
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: contain;
  -webkit-transition: ease all .5s;
  transition: ease all .5s;
}

.platform1 .webWork img {
  padding-top: .7em;
  width: 100%;
  opacity: 0;
}

.platform1 .webWork:hover {
  overflow-y: scroll;
  -webkit-box-shadow: 1px -99px 60px -16px rgba(0, 0, 0, 0) inset;
          box-shadow: 1px -99px 60px -16px rgba(0, 0, 0, 0) inset;
}

.platform1 .logoWork {
  top: -10em;
  position: absolute;
  width: 60%;
}

.platform1 .logoWork img {
  width: 35%;
  padding: 2em;
  background-color: #fdfdfd;
  border: solid .4em #333;
  margin-left: 34em;
  -webkit-box-shadow: -2em 1em 2em -1em #33333340;
          box-shadow: -2em 1em 2em -1em #33333340;
}

.platform1:hover {
  margin-bottom: 15vh;
  -webkit-box-shadow: 0em 5em 3em -3em rgba(0, 0, 0, 0.3);
          box-shadow: 0em 5em 3em -3em rgba(0, 0, 0, 0.3);
  -webkit-transform: perspective(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(9vw, 0) scale(1.1);
  transform: perspective(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(9vw, 0) scale(1.1);
}

.platform2 {
  -webkit-transition: ease all 1.5s;
  transition: ease all 1.5s;
  -webkit-transform: perspective(60vw) rotateX(-15deg) rotateY(18deg) rotateZ(0deg) translate(0vw, -10vh) scale(1);
          transform: perspective(60vw) rotateX(-15deg) rotateY(18deg) rotateZ(0deg) translate(0vw, -10vh) scale(1);
}

.platform2 .logoWork {
  -webkit-transform: translateY(7vh);
          transform: translateY(7vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.platform2 .logoWork img {
  height: 20%;
  width: 20%;
  -webkit-transition: ease-in-out all 1s;
  transition: ease-in-out all 1s;
  border: solid .5em #333;
  background-color: #fdfdfd;
  padding: 2em 2em 2em 2em;
  -webkit-box-shadow: -2em 1em 2em -1em #33333340;
          box-shadow: -2em 1em 2em -1em #33333340;
}

.logoWork img:hover {
  -webkit-box-shadow: 0em 3em 5em -1em #33333340;
          box-shadow: 0em 3em 5em -1em #33333340;
  cursor: pointer;
}

.platform2:hover {
  -webkit-transform: perspective(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0vw, -10vh) scale(1.2);
          transform: perspective(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0vw, -10vh) scale(1.2);
}

.platform3 {
  -webkit-transform: translate(10em, 0vh) scale(1);
          transform: translate(10em, 0vh) scale(1);
}

.info p {
  font-size: 1.5em;
}

.element1 {
  padding: 1em 2em 2em 2em;
  -webkit-transform: translate(0vw, 0%);
          transform: translate(0vw, 0%);
  position: absolute;
}

.element1 h1 {
  font-size: 4vw;
  width: 40vw;
  color: #dd2149;
}

.element1 h2 {
  font-size: 1.5em;
  width: 30vw;
  color: #dd2149;
  font-weight: 500;
  margin-left: .1em;
}

.element1 img:hover {
  width: 75%;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: drop-shadow(0em 1.2em 0.5em rgba(51, 51, 51, 0.3));
          filter: drop-shadow(0em 1.2em 0.5em rgba(51, 51, 51, 0.3));
}

.section {
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section .sCol1 {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 35%;
          flex: 1 0 35%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section .sCol2 {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 35%;
          flex: 1 0 35%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section .sCol2 .info {
  -webkit-transform: translate(-10vw, -10vh);
          transform: translate(-10vw, -10vh);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section .sCol2 .info h2 {
  padding-bottom: .2em;
}

.section .sCol2 .info p {
  font-size: 1.5em;
  width: 20em;
  color: #dd2149;
  font-weight: 300;
  -webkit-transform: translate(-4vw, 0px);
          transform: translate(-4vw, 0px);
}

.section .sColAlt1 {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 35%;
          flex: 1 0 35%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section .sColAlt1 .platform1 {
  -webkit-transform: perspective(45vw) rotateX(0deg) rotateY(-25deg) rotateZ(0deg) translate(-8vw, -4vh) scale(0.9);
          transform: perspective(45vw) rotateX(0deg) rotateY(-25deg) rotateZ(0deg) translate(-8vw, -4vh) scale(0.9);
  height: 40vh;
  -webkit-transition: ease all 1.5s;
  transition: ease all 1.5s;
}

.section .sColAlt1 .platform1:hover {
  margin-bottom: 18vh;
  -webkit-box-shadow: 0em 5em 3em -3em rgba(0, 0, 0, 0.3);
          box-shadow: 0em 5em 3em -3em rgba(0, 0, 0, 0.3);
  -webkit-transform: perspective(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-9vw, 0) scale(1.1);
          transform: perspective(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-9vw, 0) scale(1.1);
}

.section .sColAlt1 .platform2 {
  z-index: 2;
  -webkit-transition: ease all 1.5s;
  transition: ease all 1.5s;
  -webkit-transform: perspective(60vw) rotateX(-15deg) rotateY(-18deg) rotateZ(0deg) translate(0vw, -10vh) scale(1);
          transform: perspective(60vw) rotateX(-15deg) rotateY(-18deg) rotateZ(0deg) translate(0vw, -10vh) scale(1);
}

.section .sColAlt1 .platform2 .logoWork {
  -webkit-transform: translateY(7vh);
          transform: translateY(7vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section .sColAlt1 .platform2 .logoWork img {
  width: 25%;
  -webkit-transition: ease-in-out all 1s;
  transition: ease-in-out all 1s;
  border: solid .3em #333;
  background-color: #fdfdfd;
  padding: 1em 1em 1em 1em;
  -webkit-box-shadow: -2em 1em 2em -1em #33333340;
          box-shadow: -2em 1em 2em -1em #33333340;
}

.section .sColAlt1 .logoWork img:hover {
  -webkit-box-shadow: 0em 3em 5em -1em #33333340;
          box-shadow: 0em 3em 5em -1em #33333340;
  cursor: pointer;
  pointer-events: none;
}

.section .sColAlt1 .platform2:hover {
  -webkit-transform: perspective(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0vw, -10vh) scale(1.2);
          transform: perspective(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0vw, -10vh) scale(1.2);
}

.section .sColAlt1 .platform3 {
  -webkit-transform: translate(-10em, 0vh) scale(1);
          transform: translate(-10em, 0vh) scale(1);
}

.section .sColAlt1 .platform3 .element1 {
  padding: 1em 1em 1em 1em;
  -webkit-transform: translate(-40vw, 0%);
          transform: translate(-40vw, 0%);
  position: absolute;
}

.section .sColAlt1 .platform3 .element1 img:hover {
  width: 75%;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: drop-shadow(0em 1.2em 0.5em rgba(51, 51, 51, 0.3));
          filter: drop-shadow(0em 1.2em 0.5em rgba(51, 51, 51, 0.3));
}

.section .sColAlt2 {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 35%;
          flex: 1 0 35%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.section .sColAlt2 .info {
  -webkit-transform: translate(-10vw, -10vh);
          transform: translate(-10vw, -10vh);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section .sColAlt2 .info h2 {
  padding-bottom: .2em;
}

.section .sColAlt2 .info p {
  font-size: 1.5em;
  width: 35em;
  margin-bottom: .5em;
  color: #dd2149;
  font-weight: 300;
  -webkit-transform: translate(4vw, 0px);
          transform: translate(4vw, 0px);
}

.s3 .webWork {
  -webkit-box-shadow: 1px -5em 50em -16px rgba(0, 0, 0, 0.5) inset;
          box-shadow: 1px -5em 50em -16px rgba(0, 0, 0, 0.5) inset;
  background-image: url("assets/10squares-site.jpg");
}

.s4 .logoWork {
  top: -10em;
  width: 100%;
}

.s4 .logoWork img {
  width: 70%;
  padding: 0em;
  background-color: #fdfdfd;
  border: solid .4em #333;
  -webkit-box-shadow: -2em 1em 2em -1em #33333340;
          box-shadow: -2em 1em 2em -1em #33333340;
}

.s4 .webWork {
  -webkit-box-shadow: 1px -5em 50em -16px rgba(0, 0, 0, 0.5) inset;
          box-shadow: 1px -5em 50em -16px rgba(0, 0, 0, 0.5) inset;
  background-image: url("assets/gubba-site.jpg");
}

.s4 .sCol2 .info p {
  width: 30em;
}

.s4 .platform1:hover {
  margin-bottom: 18vh;
}

.s5 .webWork {
  -webkit-box-shadow: 1px -5em 50em -16px rgba(0, 0, 0, 0) inset;
          box-shadow: 1px -5em 50em -16px rgba(0, 0, 0, 0) inset;
  background-image: url("assets/the-cabin-crew-bcards.jpg");
  overflow: hidden;
}

.s5 .webWork img {
  width: 100%;
}

.s5 .webWork:hover {
  overflow: hidden;
}

.s5 .logoWork {
  top: -10em;
  width: 100%;
}

.s5 .logoWork img {
  width: 100%;
  padding: 0em !important;
  background-color: #303030;
  border: solid 0em #303030 !important;
  margin-left: 15em;
  -webkit-box-shadow: -2em 1em 2em -1em #33333340;
          box-shadow: -2em 1em 2em -1em #33333340;
}

.webWork:hover {
  overflow-y: scroll;
  -webkit-box-shadow: 1px -99px 60px -16px rgba(0, 0, 0, 0) inset;
          box-shadow: 1px -99px 60px -16px rgba(0, 0, 0, 0) inset;
}

.c1 {
  margin-left: 7vw;
  font-size: .85vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 20%;
          flex: 1 0 20%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hero .col .heroblock {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 60%;
          flex: 1 0 60%;
  margin-top: 5em;
  font-size: 1em;
}

.hero .col .heroblock .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .col .heroblock .heading img {
  height: 13.6em;
}

.hero .col .heroblock h1 {
  font-size: 5em;
  line-height: 1em;
  font-weight: 900;
  margin-left: .2em;
  margin-top: .12em;
  margin-bottom: .1em;
  color: #424242;
  width: 4.8em;
}

.hero .col .heroblock h2 {
  font-size: 2.063em;
  padding: .1em .3em .1em .4em;
  background-color: #000000;
  font-weight: 300;
  font-style: normal;
  color: white;
  width: 7em;
  margin-top: .25em;
  margin-left: 6.25em;
}

.hero .col .heroblock p {
  font-weight: 100;
  font-size: 2.375em;
  color: rgba(0, 0, 0, 0.57);
  width: 10em;
  margin-left: 5.4em;
}

.hero .col .ui {
  height: 100vh;
  overflow: visible;
}

.hero .col .ui svg {
  height: 100vh;
  margin-bottom: -.5em;
  overflow: visible !important;
}

g#portfolio image {
  -webkit-clip-path: polygon(64.4% 0%, 99.6% 74.4%, 47% 99.2%, 1% 58%, 16% 0);
          clip-path: polygon(64.4% 0%, 99.6% 74.4%, 47% 99.2%, 1% 58%, 16% 0);
}

.svg-wrapper {
  position: relative;
  top: 7em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0 auto;
  width: 20em;
  left: 8vw;
}

.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: #19f6e8;
  border-bottom: 5px solid black;
  -webkit-transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.text {
  font-family: 'Roboto Condensed';
  font-size: 1em;
  line-height: 32px;
  letter-spacing: 8px;
  color: #19f6e8;
  top: -48px;
  position: relative;
  padding-left: 2.5em;
}

.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
  fill: #333;
  -webkit-transition: .7s ease-in-out;
  transition: .7s ease-in-out;
}

svg {
  overflow: visible !important;
  -webkit-box-shadow: 0px 0px 10000px transparent;
          box-shadow: 0px 0px 10000px transparent;
  z-index: 99;
}

.ui {
  height: 100vh;
}

@media only screen and (max-width: 100em) {
  .c1 {
    margin-left: 0;
    font-size: .95vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 87.5em) {
  .c2 {
    width: 50%;
  }
  .c1 {
    font-size: 1.2vw;
  }
  .header .hero .col .heroblock {
    margin-left: 1em;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-size: 1.1em;
    margin-top: 45%;
  }
  .header .hero .col .heroblock .heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .hero .col .heroblock h1 {
    margin-left: 0;
  }
  .header .hero .col .heroblock p {
    margin-left: 0;
  }
  .header .hero .col .heroblock h2 {
    margin-left: 0;
  }
  g#contact {
    -webkit-transition: 2s;
    transition: 2s;
    -webkit-transform: translate(0.5%, 40.9%) scale(0.6);
            transform: translate(0.5%, 40.9%) scale(0.6);
  }
  g#portfolio {
    -webkit-transition: 2s;
    transition: 2s;
    -webkit-transform: translate(97%, 24.8%) scale(1) rotate(42deg);
            transform: translate(97%, 24.8%) scale(1) rotate(42deg);
  }
  g#portfolio {
    -webkit-clip-path: initial;
            clip-path: initial;
  }
  g#portfolio > g > polygon {
    -webkit-transition: 2s;
    transition: 2s;
    -webkit-transform: translate(55%, 55%) scale(0.7) rotate(137.7deg);
            transform: translate(55%, 55%) scale(0.7) rotate(137.7deg);
  }
  g#portfolio g path {
    -webkit-transition: 2s;
    transition: 2s;
    -webkit-transform: translate(-30%, 43%) scale(0.7) rotate(-42deg);
            transform: translate(-30%, 43%) scale(0.7) rotate(-42deg);
  }
  g#cv polygon:nth-child(2) {
    -webkit-transition: 2s;
    transition: 2s;
    -webkit-transform: translate(22%, 26%) scale(0.67);
            transform: translate(22%, 26%) scale(0.67);
  }
  g#cv g path {
    -webkit-transition: 2s;
    transition: 2s;
    -webkit-transform: translate(22%, 26%) scale(0.67);
            transform: translate(22%, 26%) scale(0.67);
  }
  .header .hero .col .ui svg {
    height: 100vh;
    margin-bottom: -.5em;
    overflow: visible;
  }
}

@media only screen and (max-width: 30em) {
  .header .hero .col .heroblock {
    margin-left: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-size: 1em;
    margin-top: 100%;
  }
  svg#Layer_1 {
    margin-right: -10.5em;
    width: 197vw;
  }
}
/*# sourceMappingURL=style.css.map */