* {
  margin: 0;
  text-decoration: none;
  border: none;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5 {
  font-family: "Roboto", sans-serif;
}

.swiper-container {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-general:hover {
  -webkit-filter: drop-shadow(-12px 22px 21px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(-12px 22px 21px rgba(0, 0, 0, 0.25));
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.container-general {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  margin: 0 auto;
  width: 69.5vw;
}

.container-general .gallery-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 70vh;
}

.container-general .gallery-wrap .item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.container-general .gallery-wrap .item:hover {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
}

.sect1-content {
  -webkit-clip-path: polygon(63.4% 0%, 100% 45.4%, 50% 99.2%, 2% 60%, 13% 0%);
          clip-path: polygon(63.4% 0%, 100% 45.4%, 50% 99.2%, 2% 60%, 13% 0%);
}

.sect2-content {
  -webkit-clip-path: polygon(100% 65%, 92.6% 81.4%, 0% 99.2%, 0% 13%, 21% 0%);
          clip-path: polygon(100% 65%, 92.6% 81.4%, 0% 99.2%, 0% 13%, 21% 0%);
}

.sect3-content {
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 88% 99.2%, 0% 51%, 72% 0%);
          clip-path: polygon(100% 0%, 100% 100%, 88% 99.2%, 0% 51%, 72% 0%);
}

.wrap-effect-1 .item:first-of-type {
  background-image: url("https://cdn.dribbble.com/users/729829/screenshots/4185141/galshir-cactus-coffee.png");
}

.wrap-effect-1 .item:nth-of-type(2) {
  background-image: url("https://cdn.dribbble.com/users/729829/screenshots/6146136/galshir-tea-biscuit_2x.png");
}

.wrap-effect-1 .item:nth-of-type(3) {
  background-image: url("https://cdn.dribbble.com/users/729829/screenshots/4473482/galshir-dog-walker.gif");
}

.wrap-effect-1 .item:nth-of-type(4) {
  background-image: url("https://cdn.dribbble.com/users/729829/screenshots/5743606/gal-shir-scooter_2x.png");
}

.wrap-effect-1 .item:last-of-type {
  background-image: url("https://cdn.dribbble.com/users/729829/screenshots/4738104/galshir-storytime.png");
}

.wrap-effect-2 .item:hover {
  -webkit-transform: translate3d(0, 0, 100px);
          transform: translate3d(0, 0, 100px);
  -webkit-box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
          box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  -webkit-filter: saturate(2) contrast(120%);
          filter: saturate(2) contrast(120%);
}

.wrap-effect-2 .item:first-of-type {
  background-image: url("https://cdn.dribbble.com/users/729829/screenshots/4854597/galshir-umbrella.jpg");
}

.wrap-effect-2 .item:nth-of-type(2) {
  background-image: url("https://cdn.dribbble.com/users/729829/screenshots/4776189/galshir-genesis.png");
}

.wrap-effect-2 .item:nth-of-type(3) {
  background-image: url("https://cdn.dribbble.com/users/729829/screenshots/5329211/galshir-walking.gif");
}

.wrap-effect-2 .item:nth-of-type(4) {
  background-image: url("https://cdn.dribbble.com/users/729829/screenshots/4611698/galshir-paper-boat.png");
}

.wrap-effect-2 .item:last-of-type {
  background-image: url("https://cdn.dribbble.com/users/729829/screenshots/4544774/galshir-window.png");
}

.wrap-effect-3 .item:hover {
  -webkit-animation: rotate 0.7s ease-in-out both;
          animation: rotate 0.7s ease-in-out both;
  border-radius: 10px;
  border: 1px solid gray;
}

.wrap-effect-3 .item:first-of-type {
  background-image: url("https://cdn.dribbble.com/users/729829/screenshots/5947483/galshir-wind_2x.png");
}

.wrap-effect-3 .item:nth-of-type(2) {
  background-image: url("https://cdn.dribbble.com/users/729829/screenshots/5754705/galshir-rain_2x.png");
}

.wrap-effect-3 .item:nth-of-type(3) {
  background-image: url("https://cdn.dribbble.com/users/729829/screenshots/5355160/galshir-attack.gif");
}

.wrap-effect-3 .item:nth-of-type(4) {
  background-image: url("https://cdn.dribbble.com/users/729829/screenshots/4742049/galshir-samurai.png");
}

.wrap-effect-3 .item:last-of-type {
  background-image: url("https://cdn.dribbble.com/users/729829/screenshots/5594777/galshir-winter-cycling_2x.jpg");
}

.wrap-effect-4 .item:hover {
  -webkit-box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
          box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  -webkit-filter: saturate(2) contrast(120%);
          filter: saturate(2) contrast(120%);
}

.wrap-effect-4 .item:first-of-type {
  background-image: url("https://cdn.dribbble.com/users/729829/screenshots/4226693/galshir-iphone-x-lemonade.gif");
}

.wrap-effect-4 .item:nth-of-type(2) {
  background-image: url("https://cdn.dribbble.com/users/729829/screenshots/4475663/galshir-musical-instruments.gif");
}

.wrap-effect-4 .item:nth-of-type(3) {
  background-image: url("https://cdn.dribbble.com/users/729829/screenshots/5431797/galshir-lemonade-ring.gif");
}

.wrap-effect-4 .item:nth-of-type(4) {
  background-image: url("https://cdn.dribbble.com/users/729829/screenshots/4419736/galshir-lemonade-bike.gif");
}

.wrap-effect-4 .item:last-of-type {
  background-image: url("https://cdn.dribbble.com/users/729829/screenshots/4281500/galshir-lemonade-camera.gif");
}

.inspire {
  border: 1px solid rgba(22, 76, 167, 0.6);
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
}

.inspire:after {
  background: #38ef7d;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .4;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.inspire:hover:after {
  left: 120%;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
            transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    -webkit-transform: rotate(10deg) translate3d(0, 0, 0);
            transform: rotate(10deg) translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: rotate(-10deg) translate3d(0, 0, 0);
            transform: rotate(-10deg) translate3d(0, 0, 0);
  }
  75% {
    -webkit-transform: rotate(5deg) translate3d(0, 0, 0);
            transform: rotate(5deg) translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
            transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
            transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    -webkit-transform: rotate(10deg) translate3d(0, 0, 0);
            transform: rotate(10deg) translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: rotate(-10deg) translate3d(0, 0, 0);
            transform: rotate(-10deg) translate3d(0, 0, 0);
  }
  75% {
    -webkit-transform: rotate(5deg) translate3d(0, 0, 0);
            transform: rotate(5deg) translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
            transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

p {
  font-family: "Roboto", sans-serif;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
          animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.fade-in.one {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.fade-in.two {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.fade-in.three {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.fade-in.four {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.fade-in.five {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.ui #portfolio {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
          animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
  -webkit-animation-duration: .7s;
          animation-duration: .7s;
  -webkit-transition: .8s ease-in-out;
  transition: .8s ease-in-out;
}

.ui #cv {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
          animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
  -webkit-animation-duration: .7s;
          animation-duration: .7s;
  -webkit-transition: .8s ease-in-out;
  transition: .8s ease-in-out;
}

.ui #contact {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
          animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
  -webkit-animation-duration: .7s;
          animation-duration: .7s;
  -webkit-transition: .8s ease-in-out;
  transition: .8s ease-in-out;
  -webkit-transform-origin: center;
          transform-origin: center;
}

#portfolio:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: .8s ease-in-out;
  transition: .8s ease-in-out;
  -webkit-transform-origin: right;
          transform-origin: right;
  cursor: pointer;
  opacity: .85;
}

#cv:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: .8s ease-in-out;
  transition: .8s ease-in-out;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  cursor: pointer;
  opacity: .85;
}

#contact:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: .8s ease-in-out;
  transition: .8s ease-in-out;
  -webkit-transform-origin: left;
          transform-origin: left;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 10px 5px black);
          filter: drop-shadow(0px 10px 5px black);
  opacity: .85;
}

#contact polygon:first-of-type {
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

#contact:hover polygon:first-of-type {
  fill: #b38539 !important;
}

#cv polygon:first-of-type {
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

#cv:hover polygon:first-of-type {
  fill: #44678c !important;
}

#portfolio g > polygon {
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

#portfolio g:hover > polygon {
  fill: #9a3156 !important;
}

.section-head1 {
  position: relative;
  z-index: 1;
  margin-top: 50vh;
  -webkit-clip-path: polygon(63.4% 0%, 100% 45.4%, 50% 100%, 0% 65%, 13% 0%);
          clip-path: polygon(63.4% 0%, 100% 45.4%, 50% 100%, 0% 65%, 13% 0%);
}

.section-head1 h3 {
  color: #fd7c3e;
  font-family: 'Raleway', sans-serif;
  font-size: 8em;
  font-weight: 900;
  line-height: .64em;
  padding-top: .06em;
  width: 50.35%;
  border-bottom: solid .04em;
  -webkit-transform: translate(25.8%, 0);
          transform: translate(25.8%, 0);
  position: relative;
  z-index: 1;
}

.section-head2 {
  position: relative;
  z-index: 1;
  margin-top: 0em;
  -webkit-transform: translate(-25%, -15%);
          transform: translate(-25%, -15%);
  -webkit-clip-path: polygon(100% 50%, 88.6% 81.4%, 0% 98.2%, 0% 13%, 21% 0%);
          clip-path: polygon(100% 50%, 88.6% 81.4%, 0% 98.2%, 0% 13%, 21% 0%);
}

.section-head2 h3 {
  color: #70c7c2;
  font-family: 'Raleway', sans-serif;
  font-size: 8em;
  font-weight: 900;
  line-height: .64em;
  padding-top: .06em;
  padding-left: 0%;
  width: 80%;
  border-bottom: solid .04em;
  -webkit-transform: rotate(23.1deg) translate(29.7%, 136%);
          transform: rotate(23.1deg) translate(29.7%, 136%);
  position: relative;
  z-index: 1;
}

.section-head3 {
  position: relative;
  z-index: 1;
  -webkit-transform: translate(90%, -138%);
          transform: translate(90%, -138%);
  width: 65%;
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 100% 99.2%, -90% 44%, 55% -25%);
          clip-path: polygon(100% 0%, 100% 100%, 100% 99.2%, -90% 44%, 55% -25%);
}

.section-head3 h3 {
  color: #443939;
  font-family: 'Raleway', sans-serif;
  font-size: 8em;
  font-weight: 900;
  line-height: .64em;
  padding-top: .06em;
  width: 83%;
  -webkit-transform: rotate(-29.4deg) translate(-20%, 180%);
          transform: rotate(-29.4deg) translate(-20%, 180%);
  margin-left: 0%;
  border-bottom: solid .04em;
  position: relative;
  z-index: 1;
}

.w1-svg:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .7s ease-in-out;
  transition: .7s ease-in-out;
}

.body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.section {
  height: 100vh;
}

.s2 {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.s2 .sCol1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 35%;
          flex: 1 0 35%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s2 .sCol2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.s2 .sCol2 .info {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.s2 .sCol2 .info h2 {
  padding-bottom: .2em;
}

.s2 .sCol2 .info p {
  width: 50%;
}

.platform1 {
  -webkit-transform: perspective(50em) rotateX(0deg) rotateY(35deg) rotateZ(0deg) translate(12vw, 0);
          transform: perspective(50em) rotateX(0deg) rotateY(35deg) rotateZ(0deg) translate(12vw, 0);
  width: 40vw;
  background-color: #dcdcdc;
  height: 50vh;
  position: absolute;
}

.info p {
  font-size: 1.5em;
}

.element1 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20em;
  height: 22em;
  padding: 1em 2em 2em 2em;
  -webkit-transform: translate(18vw, 0%);
          transform: translate(18vw, 0%);
}

.element1 h1 {
  font-size: 6em;
  position: absolute;
  width: 50vw;
  color: #1fb2d0;
  bottom: -5em;
}

.element1 img {
  width: 75%;
  -webkit-transition: ease-in-out all 1s;
  transition: ease-in-out all 1s;
  width: 75%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: drop-shadow(0em 1em 0.3em rgba(51, 51, 51, 0.3));
          filter: drop-shadow(0em 1em 0.3em rgba(51, 51, 51, 0.3));
}

.element1 img:hover {
  width: 75%;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: drop-shadow(0em 1.2em 0.5em rgba(51, 51, 51, 0.3));
          filter: drop-shadow(0em 1.2em 0.5em rgba(51, 51, 51, 0.3));
}

.c1 {
  margin-left: 7vw;
  font-size: .85vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 20%;
          flex: 1 0 20%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hero .col .heroblock {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 60%;
          flex: 1 0 60%;
  margin-top: 5em;
  font-size: 1em;
}

.hero .col .heroblock .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .col .heroblock .heading img {
  height: 13.6em;
}

.hero .col .heroblock h1 {
  font-size: 5em;
  line-height: 1em;
  font-weight: 900;
  margin-left: .2em;
  margin-top: .12em;
  margin-bottom: .1em;
  color: #424242;
  width: 4.8em;
}

.hero .col .heroblock h2 {
  font-size: 2.063em;
  padding: .1em .3em .1em .4em;
  background-color: #000000;
  font-weight: 300;
  font-style: normal;
  color: white;
  width: 7em;
  margin-top: .25em;
  margin-left: 6.25em;
}

.hero .col .heroblock p {
  font-weight: 100;
  font-size: 2.375em;
  color: rgba(0, 0, 0, 0.57);
  width: 10em;
  margin-left: 5.4em;
}

.hero .col .ui {
  height: 100vh;
  overflow: visible;
}

.hero .col .ui svg {
  height: 100vh;
  margin-bottom: -.5em;
  overflow: visible !important;
}

g#portfolio image {
  -webkit-clip-path: polygon(64.4% 0%, 99.6% 74.4%, 47% 99.2%, 1% 58%, 16% 0);
          clip-path: polygon(64.4% 0%, 99.6% 74.4%, 47% 99.2%, 1% 58%, 16% 0);
}

.svg-wrapper {
  position: relative;
  top: 7em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0 auto;
  width: 20em;
  left: 8vw;
}

.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: #19f6e8;
  border-bottom: 5px solid black;
  -webkit-transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.text {
  font-family: 'Roboto Condensed';
  font-size: 1em;
  line-height: 32px;
  letter-spacing: 8px;
  color: #19f6e8;
  top: -48px;
  position: relative;
  padding-left: 2.5em;
}

.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
  fill: #333;
  -webkit-transition: .7s ease-in-out;
  transition: .7s ease-in-out;
}

svg {
  overflow: visible !important;
  -webkit-box-shadow: 0px 0px 10000px transparent;
          box-shadow: 0px 0px 10000px transparent;
  z-index: 99;
}

.ui {
  height: 100vh;
}

@media only screen and (max-width: 100em) {
  .c1 {
    margin-left: 0;
    font-size: .95vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 87.5em) {
  .c2 {
    width: 50%;
  }
  .c1 {
    font-size: 1.2vw;
  }
  .header .hero .col .heroblock {
    margin-left: 1em;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-size: 1.1em;
    margin-top: 45%;
  }
  .header .hero .col .heroblock .heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .hero .col .heroblock h1 {
    margin-left: 0;
  }
  .header .hero .col .heroblock p {
    margin-left: 0;
  }
  .header .hero .col .heroblock h2 {
    margin-left: 0;
  }
  g#contact {
    -webkit-transition: 2s;
    transition: 2s;
    -webkit-transform: translate(0.5%, 40.9%) scale(0.6);
            transform: translate(0.5%, 40.9%) scale(0.6);
  }
  g#portfolio {
    -webkit-transition: 2s;
    transition: 2s;
    -webkit-transform: translate(97%, 24.8%) scale(1) rotate(42deg);
            transform: translate(97%, 24.8%) scale(1) rotate(42deg);
  }
  g#portfolio {
    -webkit-clip-path: initial;
            clip-path: initial;
  }
  g#portfolio > g > polygon {
    -webkit-transition: 2s;
    transition: 2s;
    -webkit-transform: translate(55%, 55%) scale(0.7) rotate(137.7deg);
            transform: translate(55%, 55%) scale(0.7) rotate(137.7deg);
  }
  g#portfolio g path {
    -webkit-transition: 2s;
    transition: 2s;
    -webkit-transform: translate(-30%, 43%) scale(0.7) rotate(-42deg);
            transform: translate(-30%, 43%) scale(0.7) rotate(-42deg);
  }
  g#cv polygon:nth-child(2) {
    -webkit-transition: 2s;
    transition: 2s;
    -webkit-transform: translate(22%, 26%) scale(0.67);
            transform: translate(22%, 26%) scale(0.67);
  }
  g#cv g path {
    -webkit-transition: 2s;
    transition: 2s;
    -webkit-transform: translate(22%, 26%) scale(0.67);
            transform: translate(22%, 26%) scale(0.67);
  }
  .header .hero .col .ui svg {
    height: 100vh;
    margin-bottom: -.5em;
    overflow: visible;
  }
}

@media only screen and (max-width: 30em) {
  .header .hero .col .heroblock {
    margin-left: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-size: 1em;
    margin-top: 100%;
  }
  svg#Layer_1 {
    margin-right: -10.5em;
    width: 197vw;
  }
}
/*# sourceMappingURL=style.css.map */